# Core Django
Django==5.2.10
djangorestframework==3.16.1
setuptools==80.10.2
djangorestframework-simplejwt==5.2.2

# Database
psycopg[binary]==3.3.2

# Essential utilities
python-dotenv==1.2.1
requests==2.32.5
Pillow==10.1.0  # For ImageField

# Optional but useful
django-cors-headers==4.9.0
django-filter==25.2
drf-yasg==1.21.11  # For Swagger
pytest
