# Core Django
Django==5.2.10
djangorestframework==3.16.1
setuptools==79.0.0
djangorestframework-simplejwt==5.2.2

# Database
psycopg[binary]

# Essential utilities
django-environ
requests==2.32.5
# For ImageField
Pillow

# Optional but useful
django-cors-headers==4.9.0
django-filter==25.2
# For Swagger
drf-yasg
pytest==7.4.0

# background task processing
celery==5.3.1
